body{
    background-color: white;
    margin: 0;
    padding:0;
}
.navbar {
    padding: 2px 150px 2px 150px;
    font-family: 'Raleway';
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    width:100%;
    z-index: 5;
}
.navbar-nav {
    margin-left: auto;
}
#mascot {
        height: 400px;
        width: auto;
    }

.body_section_parallax {
    position: relative;
    height:  1000px;
    overflow: hidden;
}
.body_section_parallax2 {
    position: relative;
    height:  500px;
    overflow: hidden;
}
/* for parallax */
.parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-5px) scale(4.6);
    background-size: cover;
    z-index: -3;
  }
.parallax2::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-6px) scale(4.4);
    background-size: cover;
    z-index: -2;
  }
.bg1::after {
    background-image: url(../images/brickwall2.jpg);
    background-repeat: no-repeat;
    opacity: 0.6;
}
.bg2::after {
    background-color: #ffbc04;
}
.bg3::after {
    background-image: url(../images/brickwall.jpg);
    background-repeat: no-repeat;
}

.fl-right-align-bg  {
    background-position-x: right !important;
  }
.intro1 {
    position: relative;
    top: 100px;
}
#aboutme {
    font-size: 4em;
    font-family: 'Frank Ruhl Libre';
    color: rgb(59, 59, 59);
    text-shadow:  4px 4px 8px #fff;
}
#vu_introduction {
    font-family: 'Frank Ruhl Libre';
    font-size: 1.2em;
    line-height: 1.5em;
}
hr {
    display: block;
    margin-top: 0;
    margin-bottom: 1.4em;
    margin-right: 30px;
    border-style: solid;
    border-color:#ffbc04;
    border-width: 2px;}
#testid1 {
    background-image: url(../images/profile.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 13em;
}
.boring {
        /* margin: auto; */
        position: relative;
        top: 0;
        margin: auto;
        display: table;
        width: 100%;
        height: 100%;
        background-color: #ffbc04;
    }
.boring3 {
        position: relative;
        top: -1090px;
        float: left;
        z-index: 14;
        height: 0px;
        margin-left: 700px;
        transform: translateZ(-0.5px) scale(1.4);        

    }
.boring_container {

        display: table-cell;
        margin: auto;
        text-align: center;
        vertical-align: middle;
        vertical-align: center;
}

.inner {
        color: #222;
        font-size: 2em;
        width: 100%;
}
.inner2 {
        text-align: center;
        color: #222;
        font-size: 1.3em;
        margin:auto;
        width: 70%;
        padding-top: 120px;
        padding-bottom: 120px;
}
.container3 {
        width:70%;
        margin:auto;
        margin-top: 120px;
        text-align: center;
}
.inner-container_3 {
        display: inline-block;

}
.social_icon {
    float: left;
    margin: 20px;
    height: 50px;
    width: 50px;
}

@media screen and (max-width: 980px) {

#mascot {
        height: 300px;
        width: auto;
    }
}
@media screen and (max-width: 640px) {
#mascot {
        height: 150px;
        width: auto;
    }
.navbar {
    padding: 2px 50px 2px 50px;
    font-family: 'Raleway';
    background-color: rgba(255, 255, 255, 0.3);
}
}
.wrapper {
    height: 92vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
  }

